.Card_container{
    margin-top: 30px;
    background-color: #ffff;
    width: 310px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
    justify-content: center;
    box-shadow: 1px 3px 6px 1px rgba(0,0,0,0.45);
}

.Card_container:hover{
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
}

.card_img_container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
}
.img{
    width: auto;
    height: 100%;
}

.Linea_divisora{
    background-color: #7B7B7B;
    height: 1px;
    width: 80%;
}

.card_details_container{
    display: flex;
    flex-direction: column;
}

.card_details_container_primeraLinea{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    

}
.Button_corazon_fav{
    width: 30px;
    height: 40px;
    background-color: #ffff;
    border: 0;
}
.Button_corazon_fav:hover{
    cursor: pointer;
}
.numero_funko{
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    
    
}

.title_funko{
    font-weight: 700;
    font-size: 25px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.categoria_funko{
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #7B7B7B;
}


.button_addCarrito{
    width: 250px;
    height: 40px;
    margin-bottom: 5px;
    background-color: #23856D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    transition: all 0.3s ease;
    border-style: none;

}

.button_addCarrito:hover{
    cursor: pointer;
    background-color: #000000;
}

.cart{
    
    padding-left: 45px;
}
.price_funko{
    color: #ffff;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-left: 45px;
}

@media all and (max-width: 380px) {
    .Card_container{
        margin-left: 15px;
        width: 90%;
        height: auto;

    }
    .card_img_container{
        width: 200px;
        height: 200px;
    }
   .img{
        width: auto;
        height: 100%;
        left: 46px;
        margin-top: 10px;
    }
    .Linea_divisora{
        margin-top: 20px;
    }
   
    .button_addCarrito{
        
        margin-bottom: 5px;
    }
}

@media all and (max-width: 280px) {
    .Card_container{
        width: 90%;
        height: auto;

    }
    .card_img_container{
        width: 200px;
        height: 200px;
    }
   .img{
        width: auto;
        height: 100%;
        left: 46px;
        margin-top: 20px;
    }
    .numero_funko{
        font-size: 18px;
           
        
    }

    .title_funko{
        font-size: 20px;
        
    }
    .categoria_funko{
        font-size: 15px;
    }
    .button_addCarrito{
        margin-bottom: 5px;
        width: 100%;
    }
    .cart{
        padding-left: 25px;
    }
    .price_funko{
        
        padding-left: 25px;

        font-size: 18px;
       
    }
 
}



/*-----------------------------Card detalle funko-------------------------------*/



.card_detalle_container{
    width: 70%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: -6px 17px 31px -12px rgba(0,0,0,0.75);
    border-radius: 10px;

}


.seccion_1_container{
    width: 50%;

}

.Imagen_funko_container{
    width: 100%;
}


.Image_funko{
    width: 100%;
    height: auto;
}


.seccion_2_container{
    width: 50%;
}

.titulo_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo_funko{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
}


.detalle_funko_container{
    width: 100%;
    margin-top: 50px;

}

.detalle{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    margin-left: 30px;
    margin-top: 20px;
}


.detalle_dato{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #777d7e;
    margin-left: 10px;

}

.detalle_valoracion{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;  
    gap: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
}

.estrellas_container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.estrella{
    text-decoration: none;
    float: right;
    width: 25px;
    height: 20px;
    line-height: 20px;
    font-size: 35px;
    color: #777d7e;
    font-weight: 900;

    text-align: center;
    transition: color .3s;
    transition: all .3s;
}

.estrella:hover {
    color: #F39C12;
    font-size: 45px;


}
.detalle_cantidad{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;  
    gap: 20px;
}
.detalle_cantidad_label{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    
}
.detalle_cantidad_input{
    width: 105px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.detalle_compra_fav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;   

}


.button_compra{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    cursor: pointer;
    width: 70%;
    height: 40px;
    background: #23856D;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    border: none;
    color: #FFFFFF;
    transition: all .2s;
    margin-bottom: 30px;
}

.button_compra:hover{
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .card_detalle_container{
        width: 90%;
        height: 300px;
    }
   
    .Imagen_funko_container{
        width: 100%;
    }
    
    
    .Image_funko{
        width: 100%;
        height: 300px;
    }
    
    
    .titulo_funko{
        font-size: 30px;
    }
    .detalle_funko_container{
        width: 100%;
        margin-top: 20px
    
    }
    .detalle{
        margin-top: 10px;
        font-size: 14px;
    }
    
    
    .detalle_dato{
        font-size: 14px;
    }
    
    .detalle_valoracion{
        font-size: 14px;
        margin-top: 10px;
    }
    
    .estrellas_container{
        margin-top: 5px;
    
    }
    
    .estrella{
        font-size: 24px;
        
    }
    
    .estrella:hover {
        color: #F39C12;
        font-size: 35px;
    
    
    }
    .detalle_cantidad{
        margin-top: 10px;
        gap: 10px;
    }
    .detalle_cantidad_label{
        font-size: 14px;
        
        
    }
    .detalle_cantidad_input{
        width: 100px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
    }
    
   
    .detalle_compra_fav{
        margin-top: 10px;
    }
    
    .button_compra{
        gap: 10px;
        margin-top: 10px;
        width: 60%;
        height: 40px;
        
        font-size: 14px;
      
    }
}

@media screen and (max-width: 580px) {
    .card_detalle_container{
        justify-content: center;
        margin-top: 5px;
        width: 90%;
        height: auto;
        flex-direction: column;
    }
    .seccion_1_container{
        width: 100%;
    
    }
    .Imagen_funko_container{
        width: 80%;
    }
    
    
    .Image_funko{
        width: auto;
        
    }
    .seccion_2_container{
        width: 100%;
    }
    
    .titulo_container{
        margin-top: 10px;
        width: 100%;
    }
    
    .titulo_funko{
        font-size: 25px;
        text-align: center;
    }
    .detalle_funko_container{
        margin-top: 20px;
        width: 100%;
    
    }
    .detalle{
        margin-top: 10px;
        font-size: 14px;
    }
    
    
    .detalle_dato{
        font-size: 14px;
    }
    
    .detalle_valoracion{
        font-size: 14px;
        margin-top: 10px;
    }
    
    .estrellas_container{
        margin-top: 5px;
    
    }
    
    .estrella{
        font-size: 24px;
        
    }
    
    .estrella:hover {
        color: #F39C12;
        font-size: 35px;
    
    
    }
    .detalle_cantidad{
        margin-top: 10px;
        gap: 10px;
    }
    .detalle_cantidad_label{
        font-size: 14px;
        
        
    }
    .detalle_cantidad_input{
        width: 100px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
    }
    
   
    .detalle_compra_fav{
        width: 100%;
        margin-top: 10px;
    }
    
    .button_compra{
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 70%;
        height: 40px;
        
        font-size: 14px;
      
    }
}
