
.user_comment_container {
    width: 90%;
    border: 1px solid #9b9b9b;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

}

.user_comment_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

}

.h3{
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.span{
    color: #999;
    font-size: 14px;
}

.user_comment_body{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_comment_body p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }

.input_edit{
    border-radius: 5px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
.button_container{
    display: flex;
}
.button_remove{
    width: 30px;
    height: 25px;
    border: none;
    background: #CD1616;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: #F3F3F3;
    font-weight: 600;
    margin-left: 5px;

}
.button_edit{
    width: 30px;
    height: 25px;
    border: none;
    background: #165fcd;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: #F3F3F3;
    font-weight: 800;
    margin-left: 10px;
}

