
.main-footer {
    margin-top: 30px;
    color: white;
    background-color: #111217;
    padding-top: 2em;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  .main-footer a{
    margin-top: 20px;
}

  .main-footer a:hover{
    color: antiquewhite;
  }

.main-footer section{
  width: 20%;

  margin-bottom: 20px;
}

.logo-container{
  display: flex;

}

.logo-container .titulo-funko{
  font-size: 1.8em;

}

.enlaces-rapidos-container{
  display: flex;
  flex-direction: column;
  
  
}
.Titulo-seccion{
  font-size: 1.5em;
}

.redes-container{
  display: flex;
  flex-direction: column;
}

.contacto-container{
  display: flex;
  flex-direction: column;
}