.grid_footer {
  display: grid; 
  margin-top: 20px;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
  height: 300px;
  width: 100%;
  margin-bottom: 0%;
  
}
 
.item_0 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111217; 
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3;
  
}

.titulo_footer{
  color: #ffff;
}
.item_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111217; 
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  color: #ffff;
  
}

.item_1_seccion_redes{
  width: 100%;
  text-align: center;

}
.titulo_redes{
  margin-top: 30px;
}
.seccion_redes_icon{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  margin-top: 30px;  
  flex-wrap: wrap;
}



.item_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  background-color: #111217; 
  grid-row-start: 1;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 7;
  
}

.item_2_seccion_contacto{
  color: #c9c9c9;
  margin-bottom: 10px;
}

.item_2_icon{
  margin-top: 30px;
}

.titulo_contacto{
  margin-top: 30px;
}


@media (max-width: 800px) {
  .grid_footer{
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }

  .item_0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    
  }
  .item_1 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 6;
    
  }
  .item_2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 7;
    
  }

  .seccion_redes_icon{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: -5px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
}
@media (max-width: 550px) {
  .grid_footer{

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr ;

  }
  .item_0 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 7;
    
  }
  .item_1 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 7;
    
  }
  .item_2 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 12;
    grid-column-end: 7;
    
    
  }


}