.main_header_container {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;

    align-items: center;
    background-image: linear-gradient(
        90deg,
        rgba(14, 13, 13, 0.9),
        rgba(93, 93, 240, 0.9)
      ), url("../../assets/mainbanner.jpg");
    
    
    background-size: contain;
    height: 270px;


}



.img_container {
    width: 22%;
    height: auto;
    display: flex;
}

.img_header_logo {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.form_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input_search {
    padding: 10px;
    width: 40%;
    height: 35px;
    background: hsl(0, 0%, 78%);
    border-radius: 20px;
    border-style: none;
    box-shadow: 1px 3px 6px 1px rgba(0,0,0,0.45);



}


@media screen and (max-width: 1000px) {
    .img_container {
        width: 60%;

    }

    .img_header_logo {
        width: 100%;

    }
}

@media screen and (max-width: 600px) {
    .img_container {
        width: 70%;

    }

    .img_header_logo {
        width: 100%;

    }

    .form_search {
        width: 80%;
    }

    .input_search {
        width: 100%;
    }
}


