@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading_spinner_mini {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #5765ac;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

