.modal_container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    place-items: center;
  }
  
.modal_body {
    background-color: white;
    width: 30%;
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
  } 
  
.modal_close {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
  }

  @media screen and (max-width: 550px) { 
    .modal_container {
     
      width: 100%;
    }

    .modal_body {
      width: 95%;
      
      
    } 

   }