
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background: rgba(0, 0, 0, 10);
  
  
  width: 100%;
  top: 0;
  background-color: #111217;


}
.nav__brand {
  text-transform: uppercase;
   color: #ffff;
   font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  /* or 96% */

  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
}


.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  
}
.nav__toggler {
  display: none;
}
.line1 {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
.line2 {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
.line3 {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
.nav__link{
  color: #FFFFFF;
  text-transform: uppercase;
  color: #ffff;
  text-decoration: none;
  font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 24px;
 /* or 96% */
 
 text-align: center;
 letter-spacing: 0.2px;
 
 color: #FFFFFF;
 text-decoration: none;

}


@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
    
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background-color: #111217;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
 

}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.line2 {
  opacity: 0;
}
.line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}



.dropdown .dropbtn {
  cursor: pointer;
  color: #FFFFFF;
  text-transform: uppercase;
  font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 24px;
 /* or 96% */
 
 text-align: center;
 letter-spacing: 0.2px;
 
 text-decoration: none;
 background-color: #111217;

}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  
}
.link {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #111217;
}

.dropdown_content .link:hover {
  background-color: rgb(243, 194, 194);
  text-decoration: none;
}

.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
}
