.compras_container{
    margin-top: 50px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tabla{
    width: 70%;
    text-align: center;
}



.seccion_button{
    display: flex;
    
    width: 80%;
}
.button_volver{
    text-decoration: none;
    list-style: none;
    color: black;
    margin-bottom: 10px;
}
.table_container{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    .seccion_button{
        width: 95%;
    }
  }