.formulario_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.formulario{
    border:  black 1px solid;
    width: 50%;
}

.imagen_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen{
    width: 40%;
    height: auto;

}
.leyenda_formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedores_inputs{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.inputs{
    width: 50%;
}

.contenedor_button{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    height: 30px;
}

.button_submit{
    width: 40%;
    border-radius: 15px;
    border: none;
    background-color: #23856D;
    color: #fff ;
    cursor: pointer;
}