.formulario_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.formulario{
    width: 40%;
    border-radius: 15px;
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.75);
    height: 550px;
}

.imagen_container{
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen{
    width: 40%;
    height: auto;

}
.leyenda_formulario{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 30px;
}

.conteiner_input_dni{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.input_dni{
    margin-top: 10px;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    
}


.conteiner_input_ciudad{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 

}

.input_ciudad{
    margin-top: 10px;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}


.conteiner_input_domicilio{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.container_domicilio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_domicilio{
    margin-top: 10px;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    text-align: center;

}
.contenedor_button{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    height: 30px;
}

.button_submit{
    font-size: 18px;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #23856D;
    color: #fff ;
    cursor: pointer;
}

@media (max-width: 950px) {
    .formulario{
      width: 60%;
    }
  }

@media (max-width: 700px) {
    .formulario{
      width: 60%;
    }
    .leyenda_formulario{
        font-size: 12px;
    }
  }

  @media (max-width: 500px) {
    .formulario{
      width: 90%;
      height: 500px;
    }
    .leyenda_formulario{
        font-size: 11px;
    }
  }