
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family:  Roboto, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

.nav__item{
  list-style: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background: rgba(0, 0, 0, 10);
  width: 100%;
  top: 0;
  background-color: #111217;
}

.nav__brand {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}


.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
.nav__link{
  color: #FFFFFF;
  text-transform: uppercase;
  color: #ffff;
  font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 24px;
 text-decoration: none;
 text-align: center;
 letter-spacing: 0.2px;
 
 color: #FFFFFF;

}
.dropdown .dropbtn {
  cursor: pointer;
  list-style: none;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 24px;
 /* or 96% */
 
 
 text-align: center;
 letter-spacing: 0.2px;
 
 text-decoration: none;
 background-color: #111217;

}

.dropdown_content {
  display: none;
  position: absolute;
  
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  
}
.cart__counter{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(5, 219, 41);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 15px;
  font-weight: 600;
}
.link {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #111217;
}

.dropdown_content .link:hover {
  background-color: rgb(243, 194, 194);
  text-decoration: none;
}

.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background-color: #111217;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .dropdown_content {
    width: 100%;
    justify-content: center;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
  .sidebar-items {
    margin-bottom: 0 !important;
  }
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover p {
  color: #fff;
}

.active {
  color: #fff;
}

.active-icon {
  color: #B57295 !important;
}


