
.home_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title_container{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title_list_card{
  font-size: 36px;
}

@media (max-width: 500px) {
  .title_list_card{
    font-size: 30px;
  }
}
@media (max-width: 380px) {
  .title_list_card{
    font-size: 24px;
  }
}