.nosotros_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    width: 100%;
}
.logo_empresa{
    justify-content: flex-start;
}

.seccionUno_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    text-align: justify;
    
}

 .texto_nosotros{
    margin-top: 20px;
    width: 500px;
    height: 300px;
   
}

.texto{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: 0.2px;

    color: #000000;
}

.button_tienda{
    display: flex;
    width: 30%;
    height: 44px;
    background: #23856D;
    border-radius: 37px;
    color: #ffff;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}

.seccionDos_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img_container_img_pricipal{
    width: 600px;
    height: auto;
}

.imgFunko{
    width: 100%;
    height: auto;
}

@media (min-width: 900px) and (max-width: 1200px) {

   .nosotros_container{
    width: 100%;
   }
   .seccionUno_container{
    width: 80%;
   }
   .seccionDos_container{
    width: 90%;
   }
  }


