.nosotros_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    width: 100%;
  
}
.logo_empresa{
    justify-content: flex-start;
}

.seccionUno_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    text-align: justify;
    
}

 .texto_nosotros{
    margin-top: 20px;
    width: 500px;
    height: 300px;
   
}

.texto{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: 0.2px;

    color: #000000;
}

.button_tienda{
    display: flex;
    width: 30%;
    height: 44px;
    background: #23856D;
    border-radius: 37px;
    color: #ffff;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}

.seccionDos_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img_container_img_pricipal{
    width: 600px;
    height: auto;
}

.imgFunko{
    width: 100%;
    height: auto;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));

}

@media (max-width: 1200px) {

   .nosotros_container{
    width: 100%;
   }
   .seccionUno_container{
    width: 80%;
   }
   .seccionDos_container{
    width: 70%;
   }
   
  }



@media (max-width: 990px) {

    .nosotros_container{
     width: 100%;
    }
    .seccionUno_container{
     width: 70%;
    }
    .texto_nosotros{
        width: 400px;
        height: 200px;
       
    }
    .texto{
        font-size: 18px;

    }
    .seccionDos_container{
     width: 70%;
    }
    .img_container_img_pricipal{
        width: 550px;
        height: auto;
    }
    .button_tienda{
      margin-top: 100px;
      width: 50%;
    }
    
   }
 
   @media (max-width: 900px) {

    .nosotros_container{
     width: 100%;
    }
    .seccionUno_container{
     width: 70%;
    }

    .texto{
        font-size: 18px;

    }

    .seccionDos_container{
     width: 70%;
    }
    .img_container_img_pricipal{
        width: 500px;
        height: auto;
    }
    .button_tienda{
        margin-top: 100px;
        width: 50%;
      }
   
   }
 

 
   @media (max-width: 768px) {

    .nosotros_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .seccionUno_container{
        width: 70%;
       }
    .texto_nosotros{
        width: 450px;
        height: 250px;
       
    }
    
    .texto{
        font-size: 16px;

    }
    .seccionDos_container{
        margin-top: 20px;
        width: 100%;
       }

    .button_tienda{
        margin-top: 10px;
        width: 40%;
      }
   
   }

   @media (max-width: 550px) {

    .seccionUno_container{
        width: 80%;
        justify-content: center;
       }
    .texto_nosotros{
        width: 400px;
        height: 230px;
       
    }
    .seccionDos_container{
        margin-top: 20px;
        width: 100%;
       }
    .button_tienda{
        margin-top: 20px;
        width: 40%;
      }
   }


   @media (max-width: 450px) {

    .seccionUno_container{
        width: 80%;
        justify-content: center;
       }
    .logo_empresa{
        margin-left: -30px;

        width: 300px;
        height: auto;
    }
    .texto_nosotros{
        margin-left: -20px;

        width: 300px;
        height: 200px;
       
    }
    .seccionDos_container{
        margin-top: 20px;
        width: 100%;
       }
    .img_container_img_pricipal{
        width: 300px;
        height: auto;
    }
    .button_tienda{
        margin-left: -30px;

        margin-top: 100px;
        width: 40%;
      }
   }
   @media (max-width: 380px) {

    .seccionUno_container{
        width: 70%;
        justify-content: center;
       }

    .logo_empresa{
        margin-left: -30px;

        width: 300px;
        height: auto;
    }
    .texto_nosotros{
        margin-left: -20px;
        width:100%;
        height: 200px;
       
    }
    .button_tienda{
        margin-left: -30px;

        margin-top: 180px;
        width: 50%;
      }
   }