.tienda_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion_fitro{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 50px;

}

.filtro_orden{
    display: flex;

}
.texto{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;

}


.button_seccion{

    display: flex;
    justify-content: space-between;
    
}

.button_orden{
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    width: 130px;
    height: 30px;    
    background: #C6C6C6;
    border-radius: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #918D8D;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    transition: all .2s;
}
.button_orden:hover{
    background: #000000;
    color: #ffff;


}
.filtro_order_select{
    display: none;
}

@media (max-width: 650px) {
    .filtro_orden{
        display: none;
      
    }
    .filtro_order_select{
       display: flex; 
       align-items: center;
       justify-content: center;

    }
    .select_order{
        box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
        width: 180px;
        height: 40px;    
        background: #ecebeb;
        border-radius: 5px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #918D8D;
        border: none;
        cursor: pointer;
    }
  }