.tienda_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.seccion_fitro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;

}

.filtro_orden {
    flex-direction: row;
    display: flex;

}

.texto {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.filtro_order_select {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Button_order{
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    width: 100px;
    height: 30px;
    background: #C6C6C6;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;

    border: none;
    cursor: pointer;
    margin-left: 10px; 
}
.conteiner_input_cateogoria {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.input_categoria {
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    width: 150px;
    height: 30px;
    background: #C6C6C6;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-left: 30px;
}

@media (max-width: 650px) {

    .seccion_fitro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtro_orden {
        flex-direction: column;
        display: flex;

    }

    .Button_order {
        font-size: 18px;
        width: 130px;
        margin-bottom: 10px;


    }

    .conteiner_input_cateogoria {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: -40px;

    }

    .input_categoria {
        font-size: 18px;
        width: 180px;



    }

}